/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(fonts/source-sans-pro/source-sans-pro.css);
@import url(https://gel.files.bbci.co.uk/r2.511/bbc-reith.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: ReithSans, Helmet, FreeSans, Helvetica, Arial, sans-serif;
$headingFont: ReithSerif, Helmet, FreeSans, Helvetica, Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

html {
	line-height: 1.125;
}

body {
	line-height: 1.2;
}

p {
	text-align: left;
}

div.slides {
	background-image: url('img/bbc-blocks-dark.png');
	background-repeat: no-repeat;
	background-position: top left;
}

.small-image {
	width: 37%;
	height: 40%;
	text-align: center;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal table {
	font-size: 90%;
}
